
.container {
    max-width: 800px!important;
}
.image img {
    height: 100%;
    width: 33%;
    position: relative;
    left: 228px;
}

.image {
    border-right: 12px solid #5ABAB4;
}
.h-25 {
    height: 100px!important;
}

.name h3 {
    color: #5ABAB4;
    font-weight: bold;
    font-size: 25px;
}
.name {
    border: 2px solid;
    padding-left: 25px;
    padding-top: 6px;
    padding-bottom: 5px;
}


.left {
    background: #5ABAB4;
    padding: 5px 0px 30px 25px;
    color: #fff;
}

.left h4 {
    font-size: 20px;
    border-bottom: 2px solid;
    width: 170px;
    padding-bottom: 5px;
}
.left p {
    font-size: 15px;
    padding-bottom: 5px;
}
.website p a {
    color: #fff;
}
.website p a:hover {
    text-decoration: none;
    color:blue;
}
span.html {
    position: relative;
    left: 69px;
}
span.css i:last-child{
color: black;
}
span.css {
    position: relative;
    left: 80px;
}
span.illustrator {
    position: relative;
    left: 43px;
}
span.photoshop {
    position: relative;
    left: 31px;
}
span.bootstrap {
    position: relative;
    left: 38px;
}
span.illustrator i:last-child{
color: black;
}
span.illustrator i:nth-last-child(2) {
  color: black;
}
span.photoshop i:last-child{
color: black;
}
span.photoshop i:nth-last-child(2) {
  color: black;
}
span.photoshop i:nth-last-child(3) {
  color: black;
}
span.bootstrap i:last-child{
color: black;
}
.skills p i {
    font-size: 6px;
    padding-left: 5px;
}
.language p i {
    font-size: 6px;
    padding-left: 5px;
}
span.english i:last-child{
color: black;
}
span.english i:nth-last-child(2) {
  color: black;
}
span.hindi i:last-child{
color: black;
}
span.bangla {
    position: relative;
    left: 56px;
}
span.english {
    position: relative;
    left: 53px;
}
span.hindi {
    position: relative;
    left: 64px;
}
.right h4 {
    font-size: 20px;
    border-bottom: 2px solid;
    width: 98%;
    padding-bottom: 5px;
    color: #5ABAB4;
}
.right p {
    font-size: 14px;
}

.hobbies-icon i {
    margin-right: 2em;
    background: #5ABAB4;
    color: #fff;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 8px;
   
}
.social i {
    margin-right: 2em;
    background: #5ABAB4;
    color: #fff;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    padding-top: 9px;
    padding-left: 9px;
}
.social {
    position: relative;
    top: 20px;
}
.right {
    border-right: 12px solid #5ABAB4;
    position: relative;
    height: 100%;
}